body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

input[type="file"] {
    display: none;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#file-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
}

#file-list img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
